<phpunit
	bootstrap="./testing/tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="Test" suffix=".php">./testing/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
